<header class="post-header">
    <div class="post-card-meta">
      <span class="post-card-meta-tag">
    {{#unless hide_tag}}
        {{#primary_tag}}
            <a class="post-tag" href="{{url}}">{{name}}</a>
        {{/primary_tag}}

       </span>
      <span class="post-card-meta-date">
         <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
      </span>
    {{/unless}}       
   </div>
    <{{tag}} class="post-title">
        {{#unless hide_link}}
            <a class="post-title-link" href="{{url}}">{{title}}</a>
        {{else}}
            {{title}}
        {{/unless}}
    </{{tag}}>
    {{#if show_date}}
        {{> post-date}}
    {{/if}}
</header>